{% load static %}
<footer>
    <div class="container-fluid align-items-center">
        <div class="row footer-atas align-items-center">
            <div class="col-md-12 justify-content-center d-flex">
                <ul class="footer-socmed-list list-unstyled">
                    <li><span>Our Product:</span></li>
                    <li><img src = "{% static 'img/footer/logo-grey-alphapay.png' %}" alt = "alphapay"></li>
                    <li><img src = "{% static 'img/footer/logo-grey-sepulsa.png' %}" alt = "sepulsa"></li>
                    <li><img src = "{% static 'img/footer/logo-grey-alphabill.png' %}" alt = "alphabill"></li>
                </ul>
            </div>    
        </div>
        <div class="row footer-bawah align-items-center">
            <div class="col-md-12 footer-tulisan list-unstyled justify-content-center d-flex">
                <span>Contact Person: Mobile Phone: 0877 9609 9530. Email: <span style="color: blue;">academy@alphatech.id</span></span>
            </div>    
        </div>
    </div>
</footer>